@model POSWebClient.Models.ProductModel

<h4 class="text-danger text-center">Are you sure you want to delete this?</h4>
<div class="row">
    <div class="offset-md-1 col-md-11">
        <dl>
            <dt class="col-md-2">               
                <label asp-for="Code" class="control-label"></label>
            </dt>
            <dd class="col-md-10">
                <input asp-for="Code" disabled class="form-control" />
            </dd>
            <dt class="col-md-2">
               
                <label asp-for="Name" class="control-label"></label>
            </dt>
            <dd class="col-md-10">              
                <input asp-for="Name" disabled class="form-control" />
            </dd>
            <dt class="col-md-2">
               
                <label asp-for="Description" class="control-label"></label>
            </dt>
            <dd class="col-md-10">
               
                <input asp-for="Description" disabled class="form-control" />
            </dd>
            <dt class="col-md-2">
                <label asp-for="CategoryType" class="control-label"></label>
            </dt>
            <dd class="col-md-10">
                
                <input asp-for="CategoryType" disabled class="form-control" />
            </dd>
            <dt class="col-md-2">
                <label asp-for="Brand" class="control-label"></label>
            </dt>
            <dd class="col-md-10">

                <input asp-for="Brand" disabled class="form-control" />
            </dd>
        </dl>
    </div>
</div>
<div class="offset-md-4 mt-4">
    <button id="btnDeleteProduct" class="btn  btn-danger" onclick="confirmDelete(@Model.Id)">Delete</button>
    <button id="btnCancel" class="btn btn-primar" data-bs-dismiss="modal" aria-label="Close">Close</button>
</div>